{% extends "layout.html" %}
{% block title %} Login | Register {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index/index.css')}}">
<script src="{{ url_for('static', filename='index/index.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='index/bootstrap-select.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
{% endblock %}
{% block body %}
<form action="">
  <h2><span class="entypo-login"></span> Login</h2>
  <button class="submit"><span class="entypo-lock"></span></button>
  <span class="entypo-user inputUserIcon"></span>
  <input type="text" class="user" placeholder="ursername"/>
  <span class="entypo-key inputPassIcon"></span>
  <input type="password" class="pass"placeholder="password"/>
</form>
<form action="">
  <h2><span class="entypo-login"></span> Register </h2>
  <button class="submit register-btn"><span class="entypo-lock"></span></button>
  <span class="entypo-user inputUserIcon"></span>
  <input type="text" class="user" placeholder="ursername"/>
  <span class="entypo-key inputPassIcon"></span>
  <input type="password" class="pass"placeholder="password"/>
  <input type="text" class="user" placeholder="Company short name"/>
  <input type="text" class="user" placeholder="Company long name"/>
  <select class="selectpicker" title="Company Type" data-style="select-bs">
    <option>ISP</option>
    <option>Developer</option>
  </select>
</form>
{% endblock %}
